extends layout

block scripts
  //-script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
  script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js")
  //-script(type="text/javascript",src="/socket.io/socket.io.js")
  script(type="text/javascript",src="//code.createjs.com/easeljs-0.6.0.min.js")
  //-script(type="text/javascript",src="/js/easeljs-0.6.0.min.js")
  script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/1.2.0/lodash.min.js")
  //-script(type="text/javascript",src="/js/lodash.js")
  script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/knockout/2.2.0/knockout-min.js")
  //-script(type="text/javascript",src="//ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js")
  //-script(type="text/javascript",src="/js/knockout-2.2.1.js")
  script(type="text/javascript",src="/js/uuid.js")
  script(type="text/javascript",src="/js/gummiwarsclasses.js")
  script(type="text/javascript",src="/js/gummiwarsmain.js")
  script.
    document.addEventListener('DOMContentLoaded', init);


block content
  body
    #mainContainer
      #headerContainer.centerText
        h1 GummiWars for Global Game Jam 2014
      #contentContainer.clearfix
        #roomContainer(data-bind="visible: !gameStarted()")
          #roomListContainer.centerText
            h2 Click on a room below to join the action
            #roomData
              button.btn.btn-primary(data-bind="click: $root.getRoomUpdate") Refresh Rooms
              #totalRooms
                h2 Total # of rooms:&nbsp;
                  span(data-bind="text: totalRooms")
              #availableRooms
                h2 # of rooms available:&nbsp;
                  span(data-bind="text: rooms().length")
              #playersInRooms
                h2 # of players in game:&nbsp;
                  span(data-bind="text: playersInRooms")
              br
              h3 How to play:
              h3 Arrow Keys: Move your gummy
              h3 Spacebar: ATTACK!!!
              h3 Z: Change color
              h3 Red hurts Blue
              h3 Blue hurts Green
              h3 Green hurts Red
              br
            #roomList(data-bind="foreach: rooms")
              button.btn.btn-lg.btn-success.room(data-bind="click: $root.joinRoom")
                .roomId
                  span Room ID:
                  span(data-bind="text: roomId")
                .playerCount
                  span # of players:
                  span(data-bind="text: playerCount")
        #gameContainer(data-bind="visible: gameStarted")
          canvas#gameCanvas(width=700,height=500) no canvas support
          #gameData
            #healthStats(data-bind="visible: !dead()")
              h2 Health:
              h1(data-bind="text: health")
            h1(data-bind="visible: dead") YOU DIED!
            br
            h3 How to play:
            h3 Arrow Keys: Move your gummy
            h3 Spacebar: ATTACK!!!
            h3 Z: Change color
            h3 Red hurts Blue
            h3 Blue hurts Green
            h3 Green hurts Red
            button.btn.btn-warning(data-bind="click: returnToRoomList") Return to room list
      #footerContainer.centerText
        br
        h2
          div Concept by Rob Ribeiro, Eric Souther, Ronald Pulliam, Mark Schroder, Steven Schneider, Robert Thompson, Doug Harsch, Beth Harsch, Jake Harsch, Andrew Barker
          br
          span Rob on Twitter:&nbsp;
          a(href="http://twitter.com/azurelogic") @azurelogic
          br
        h3
        span Powered by:
        br
        a(href="http://www.createjs.com/#!/EaselJS") EaselJS
        span &nbsp;&nbsp;
        a(href="http://nodejs.org/") Node.js
        span &nbsp;&nbsp;
        a(href="http://expressjs.com/") Express
        span &nbsp;&nbsp;
        a(href="http://socket.io/") Socket.IO
        br
        a(href="http://express-io.org/") Express.io
        span &nbsp;&nbsp;
        a(href="http://lodash.com/") Lo-Dash
        span &nbsp;&nbsp;
        a(href="http://knockoutjs.com/") Knockout
        span &nbsp;&nbsp;
        a(href="https://github.com/broofa/node-uuid") node-uuid

