body {
  padding: 10px;
  font: 14px Helvetica, Arial, sans-serif;
  background-color: #333333;
  color: #FFFFFF;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}

#mainContainer {
  margin: 0 auto;
  width: 800px;
}

#gameCanvas {
  float: left;
}

#roomData {
  float: right;
}

#gameData {
  float: right;
}

.centerText {
  text-align: center;
}

.room {
  float: left;
  width: 400px;
  height: 50px;
  margin: 10px;
  background-color: #00aa00;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}